<div class="center-vh" id="login-wrap">
  <form class="example-container mat-elevation-z9">
    <mat-form-field>
      <input matInput placeholder="Enter your username" autoComplete="off" type="text" [(ngModel)]="username"
             name="username">
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" autoComplete="off" [(ngModel)]="password"
             [type]="hide ? 'password' : 'text'" name="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <button mat-raised-button (click)="onLoginSubmit()">Login</button>
  </form>
</div>


