<div fxFlex="20" fxFlexOffset="40" id="login-wrap">
  <form [formGroup]="loginFormGroup" (ngSubmit)="onLoginSubmit()">
    <div fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Enter your username" autoComplete="off" type="text" [(ngModel)]="username"
               formControlName="username">
        <mat-icon matSuffix>account_box</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your password" autoComplete="off" [(ngModel)]="password"
               [type]="hide ? 'password' : 'text'" formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <button mat-raised-button [disabled]="!loginFormGroup.valid">Login</button>
    </div>


  </form>
</div>


