<div style="margin-top: 35px">

  <div fxLayout="row">
    <div fxFlex="20" fxFlexOffset="15">
      <mat-card>
        <img mat-card-image class="card-image" src="assets/images/card_sw.jpg" alt="Photo of angular sw">
        <mat-card-content>
          <p>
            Service workers augment the traditional web deployment model and empower applications to deliver a user
            experience with the reliability and performance on par with natively-installed code.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink=".">LIKE</button>
          <button mat-button routerLink=".">SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="20" fxFlexOffset="5">
      <mat-card>
        <img mat-card-image class="card-image" src="assets/images/redux.jpg" alt="Photo of angular sw">
        <mat-card-content>
          <p>
            Service workers augment the traditional web deployment model and empower applications to deliver a user
            experience with the reliability and performance on par with natively-installed code.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink=".">LIKE</button>
          <button mat-button routerLink=".">SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="20" fxFlexOffset="5">
      <mat-card>
        <img mat-card-image class="card-image" src="assets/images/firebase.jpg" alt="Photo of angular sw">
        <mat-card-content>
          <p>
            Service workers augment the traditional web deployment model and empower applications to deliver a user
            experience with the reliability and performance on par with natively-installed code.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink=".">LIKE</button>
          <button mat-button routerLink=".">SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row" style="margin-top: 35px">
    <div fxFlex="20" fxFlexOffset="15">
      <mat-card>
        <img mat-card-image class="card-image" src="assets/images/jwt.jpg" alt="Photo of angular sw">
        <mat-card-content>
          <p>
            Service workers augment the traditional web deployment model and empower applications to deliver a user
            experience with the reliability and performance on par with natively-installed code.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink=".">LIKE</button>
          <button mat-button routerLink=".">SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="20" fxFlexOffset="5">
      <mat-card>
        <img mat-card-image class="card-image" src="assets/images/reactive.jpg" alt="Photo of angular sw">
        <mat-card-content>
          <p>
            Service workers augment the traditional web deployment model and empower applications to deliver a user
            experience with the reliability and performance on par with natively-installed code.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink=".">LIKE</button>
          <button mat-button routerLink=".">SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="20" fxFlexOffset="5">
      <mat-card>
        <img mat-card-image class="card-image" src="assets/images/docker.jpg" alt="Photo of angular sw">
        <mat-card-content>
          <p>
            Service workers augment the traditional web deployment model and empower applications to deliver a user
            experience with the reliability and performance on par with natively-installed code.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink=".">LIKE</button>
          <button mat-button routerLink=".">SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>

