<div fxLayout="row" fxLayoutAlign="center none" class="margin-top-5-pctl">

  <div fxLayout="column">

    <mat-card class="custom-link-2" [routerLink]="['/two-step-verification/mobile-token']">
      Mobile token
    </mat-card>

    <mat-card class="custom-link-2 margin-top-10" [routerLink]="['/two-step-verification/qr-code']">
      QR code
    </mat-card>

    <mat-card class="custom-link-2 margin-top-10" [routerLink]="['/two-step-verification/backup-code']">
      Backup code
    </mat-card>

    <mat-card class="custom-link-2 margin-top-10" [routerLink]="['/two-step-verification/sms-code']">
      SMS code
    </mat-card>

    <mat-card class="custom-link-2 margin-top-10" [routerLink]="['/two-step-verification/email-code']">
      Email code
    </mat-card>

  </div>
</div>

