<div fxLayout="row" fxLayoutAlign="center none" class="margin-top-5-pctl">
  <form [formGroup]="secretQuestionFormGroup" (ngSubmit)="onSubmit()" style="padding: 30px">
    <div fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Name of first pet" autoComplete="off" type="text" [(ngModel)]="inputSecretQuestion"
               formControlName="inputSecretQuestion">
        <mat-icon matSuffix>pets</mat-icon>
      </mat-form-field>

      <button mat-raised-button [disabled]="!secretQuestionFormGroup.valid">Submit</button>
    </div>
  </form>
</div>
