.profile-header {
  background-color: #414FB0;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-weight: bold
}

.profile-avatar {
  padding: 25px 0 0 10px;
  max-width: 140px;
  max-height: 140px;
}
