<form [formGroup]="loginFormGroup" (ngSubmit)="onLoginSubmit()" style="padding: 30px">
  <div fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Enter your username" autoComplete="off" type="text" [(ngModel)]="username"
             formControlName="username">
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" autoComplete="off" [(ngModel)]="password"
             [type]="hide ? 'password' : 'text'" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer">
        {{hide ? 'visibility' : 'visibility_off'}}
      </mat-icon>
    </mat-form-field>

    <button mat-raised-button [disabled]="!loginFormGroup.valid">Login</button>
  </div>

</form>
